@import url(./reset.css);

/* ------------------FONTS------------------ */

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* ------------------MAIN ITEMS------------------ */

body {
  font-family: "Larsseit", sans-serif;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.header {
  background-color: #f4f9e2;
}

.who-am-i {
  background-color: #f4f9e2;
  background: url(../img/who-am-i-block/background.png);
  background-color: #f4f9e2;
  background-position: center;
  background-repeat: no-repeat;
}

.why {
  background-color: #62d0df;
  min-height: 607px;
}

.about {
}

.services {
}

.facts {
}

.should-know {
}

.contact-us {
  background: #22356f;
}

.footer {
}

/* ------------------CONTAINERS------------------ */

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
}
/* PC */
@media (max-width: 1161px) {
  [class*="__container"] {
    max-width: 100%;
  }
}
/* TABLET */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 100%;
  }
}
/* MOBILE */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 104px;
}

.who-am-i__container {
  padding: 133px 15px 75px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-height: 790px;
}

@media (max-width: 991.98px) {
  .header__container::before {
    background-position: right;
  }
}

@media (max-width: 767.98px) {
  .header__container {
    /* padding: 10px 15px 75px 15px; */
    background-color: #f4f9e275;
  }
  .who-am-i__container {
    padding: 10px 15px 75px 15px;
    background-color: #f4f9e275;
  }
}

.why__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about__container {
  min-height: 963px;
  padding: 156px 0px 120px 0px;
}

.services__container {
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.facts__container {
  min-height: 544px;
  padding: 22px 0px 40px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.should-know__container {
  min-height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-us__container {
  min-height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__conteiner {
  min-height: 460px;
}
/* ------------------HEADER------------------ */

.header__logo {
  position: relative;
  z-index: 10;
}

.logo {
  font-size: 24px;
  line-height: 112.5%;
  letter-spacing: -0.035em;
  font-weight: 700;
  color: #62d0df;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 114.2%;
  color: #22356f;
}

.menu__item::after {
  content: "";
  margin-left: -10%;
  display: block;
  height: 5px;
  width: 0;
  background: transparent;
  transition: all 0.3s;
}

.menu__item:hover::after,
.menu__active::after {
  width: 120%;
  box-shadow: inset 0px -2px 0px #22356f;
}

.menu__item:not(:last-child) {
  margin: 0px 27px 0px 0px;
}

@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f4f9e2;
    padding: 120px 15px 30px 15px;
    transition: left 0.3s ease 0s;
  }

  .menu:target {
    left: 0;
  }

  .menu__link {
    color: #22356f;
    font-size: 25px;
  }

  .menu__item:hover::after,
  .menu__active::after {
    display: none;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .menu__item::after {
    height: 0;
  }
}

.header__button {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__button {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: #62d0df;
  font-weight: 700;
  border-radius: 50px;
  font-size: 14px;
  line-height: 114.2%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  transition: background-color 0.3s ease 0s;
}

.contact__button:hover {
  background-color: #8adfeb;
}

/* ------------------MENU BURGER------------------ */

@media (max-width: 767.98px) {
  .icon__menu-open,
  .icon__menu-close {
    display: flex;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 20px;
  }

  .icon__menu-open::before,
  .icon__menu-open::after,
  .icon__menu-close::before,
  .icon__menu-close::after {
    content: "";
    background-color: #000;
    height: 2px;
  }

  .icon__menu-close::before {
    transform: rotate(45deg);
    margin-top: 8px;
  }

  .icon__menu-close::after {
    transform: rotate(-45deg);
    margin-bottom: 8px;
  }

  .icon__menu-open span {
    height: 2px;
    background-color: #000;
  }

  .icon__menu-close span {
    height: 0px;
  }
}

.header:not(:target) .icon__menu-open {
  display: none;
}

.header:target .icon__menu-close {
  display: none;
}

/* -----------WHO AM I---------- */

@media (max-width: 767.98px) {
  .who-am-i__logo {
    display: none;
  }
  .who-am-i__title {
    margin: 10px 0px 0px 0px;
  }
}

.who-am-i__title {
  max-width: 484px;
  margin: 50px 0px 0px 0px;
  font-weight: 700;
  font-size: 48px;
  line-height: 110.4%;
  letter-spacing: -0.035em;
  color: #22356f;
}

.who-am-i__subtitle {
  max-width: 469px;
  margin: 80px 0px 0px 0px;
  font-size: 24px;
  line-height: 175%;
  color: #22356f;
}

.who-am-i__buttons {
  margin: 60px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

@media (max-width: 467.98px) {
  .who-am-i__buttons {
    flex-wrap: wrap;
    gap: 15px;
  }
}

.who-am-i__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 143.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  color: #ffffff;
  width: 150px;
  height: 50px;
  background-color: #f9b640;
  transition: background-color 0.3s ease 0s;
}

.who-am-i__button:hover {
  background-color: #fdcc77;
}

.do-i-do__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 143.7%;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.486);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.1em;
  color: #f9b640;
  width: 150px;
  height: 50px;
}

/* -----------WHY------------ */

.why__image {
  margin: 0px -15px 0px 0px;
}

@media (max-width: 1161px) {
  .why__image {
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0.4;
    width: 525px;
  }
}

.why__content {
  padding: 151px 0px 0px 0px;
  z-index: 2;
}

.why__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 63.8%;
  letter-spacing: -0.006em;
  color: #ffffff;
}

.why__subtitle {
  margin: 75px 0px 0px 0px;
  max-width: 555px;
  letter-spacing: 0.02em;
  font-size: 20px;
  line-height: 156.75%;
  color: #ffffff;
}

.why__subtitle span {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
}

/* -------------ABOUT------------- */

.about__about {
  margin: 0px 0px 0px 50px;
  display: flex;
}

.about__title {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  color: #22356f;
}

.about__subtitle {
  margin: auto;
  max-width: 592px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120.8%;
  letter-spacing: 0.005em;
  color: #22356f;
}

@media (max-width: 767.98px) {
  .about__about {
    margin: -100px 0px 0px 30px;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
  }
  .about__subtitle {
    margin: 30px auto 0px auto;
  }
}

.about__help {
  margin: 70px 0px 0px 0px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}

.about__blocks {
  margin: 24px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about__block-item {
  min-height: 359.98px;
  min-width: 359.98px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pink-block {
  background: #ffe2de;
}

.green-block {
  background: #c4e769;
}

.cyan-block {
  background: #62d0df;
}

.blue-block {
  background: #0052c1;
}

.block-item__divider {
  margin: 72px 0px 0px 0px;
  width: 255px;
  height: 1px;
  background-color: #fff;
}

.block-item__title span {
  display: inline-block;
  background: #e9b730;
  height: 6px;
  width: 6px;
  border-radius: 50%;
}

.block-item__title {
  align-self: flex-start;
  margin: 23px 0px 0px 52.5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  font-size: 32px;
  line-height: 90.6%;
  letter-spacing: -0.006em;
  color: #ffffff;
}

/* --------------SERVICES-------------------- */

.services__block {
  height: 479.98px;
  width: 479.98px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* transition: background 0.3s ease 0s; */
}

.services__block .block-item__title {
  margin: 23px 0px 0px 70px;
}

.services__block .block-item__divider {
  width: 340px;
}

.services-db {
  background: #22356f;
}

.services-db:hover {
  background: url(../img/services-block/physical-health.jpg);
  background-size: cover;
}

.services-b {
  background: #0052c1;
}

.services-b:hover {
  background: url(../img/services-block/mental-health.jpg);
  background-size: cover;
}

.services-g {
  background: #76b58b;
}

.services-g:hover {
  background: url(../img/services-block/nutrition.png);
  background-size: cover;
}

.services-cy {
  background: #62d0df;
}

.services-cy:hover {
  background: url(../img/services-block/gymnastics.jpg);
  background-size: cover;
}

.services-lv {
  background: #dee1ff;
}

.services-lv:hover {
  background: url(../img/services-block/crossfit.jpg);
  background-size: cover;
}

.services-v {
  background: #8f00ff;
}

.services-v:hover {
  background: url(../img/services-block/aerobics.jpg);
  background-size: cover;
}

/* -------------FACTS------------------ */

.facts__block-item {
  padding: 0px 15px 0px 15px;
  max-width: 480px;
  max-height: 240px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.facts__title {
  font-size: 28px;
  line-height: 125%;
  letter-spacing: -0.03em;
  color: #22356f;
}

.facts__subtitle {
  margin: 28px 0px 0px 0px;
  font-size: 16px;
  line-height: 168.75%;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

@media (max-width: 959px) {
  .facts__block-item:not(:last-child) {
    margin: 35px 0px 0px 0px;
  }
}

/* ---------SHOULD KNOW---------- */

.should-know__img {
  margin: 0px 0px 0px -15px;
}

.should-know__content {
  padding: 0px 15px 0px 0px;
}

.should-know__title {
  margin: 103px 0px 0px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 81.25%;
  letter-spacing: 0.06em;
  color: #22356f;
}

.should-know__subtitle {
  margin: 225px 0px 0px 0px;
  max-width: 676px;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #22356f;
}

.should-know__subtitle span {
  color: #6cd3e1;
}

.should-know__get-help {
  display: inline-block;
  margin: 152px 0px 0px 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.1em;
  color: #fab63e;
}

@media (max-width: 1249px) {
  .should-know__img {
    padding: 0px 0px 0px 0px;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: 0.4;
    width: 480px;
  }
  .should-know__content {
    margin: 0 auto;
  }
}

/* ---------------CONTACT US---------------- */

.contact-us__img {
  margin: 0px -15px 0px 0px;
  max-height: 100%;
}

.contact-us__content {
  padding: 0px 0px 0px 15px;
}

.contact-us__title {
  margin: 103px 0px 0px 0px;
  font-size: 16px;
  line-height: 81.25%;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.contact-us__subtitle {
  margin: 230px 0px 0px 0px;
  font-weight: 700;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.contact-us__text {
  margin: 75px 0px 0px 0px;
  font-weight: 400;
  font-size: 36px;
  line-height: 155.55%;
  letter-spacing: -0.005em;
  color: #ffffff;
}

.contact-us__get-help {
  margin: 95px 0px 0px 0px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.1em;
  color: #62d0df;
}

@media (max-width: 1249px) {
  .contact-us__img {
    padding: 0px 0px 0px 0px;
    position: absolute;
    right: 0;
    z-index: 1;
    opacity: 0.4;
    width: 480px;
  }
  .contact-us__content {
    margin: 0 auto;
  }
}

/* -------------------FOOTER-------------------- */

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 380px;
}

.footer__img {
  margin: 0px 0px 0px -15px;
}

.footer__contacts {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__column {
  max-width: 240px;
}

.footer__column-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 64.28%;
  letter-spacing: -0.006em;
  color: #22356f;
}

.footer__list {
  margin: 50px 0px 0px 0px;
}

.footer__item {
  max-width: 200px;
  font-size: 14px;
  line-height: 178.57%;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.footer__item a {
  color: #006dff;
}

.footer__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.footer__bot {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bot::before {
  content: "";
  background: #62d0df;
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: -1;
}

.footer__copy {
  margin: auto 0px auto 190px;
  font-weight: 700;
  font-size: 14px;
  line-height: 178.57%;
  letter-spacing: -0.006em;
  color: #ffffff;
}

@media (max-width: 1120px) {
  .footer__img {
    display: none;
  }
  .footer__contacts {
    flex-wrap: wrap;
  }
  .footer__column:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
  .footer__copy {
    margin: 0 auto;
  }
  .footer__top {
    padding: 95px 0px 0px 0px;
  }
}
